{% comment %}Multilingual footer_text: only enabled if _config.yml contains `multilingual: true`{% endcomment %}
{% if site.multilingual %}
    {% assign site_footer_text = site.footer_text[site.active_lang] %}
{% else %}
    {% assign site_footer_text = site.footer_text %}
{% endif %}

<footer class="site-footer">
    <p class="text">
        {% assign pages_list = site.pages %}
        {% assign written = "" | split: '' %}
        {% for node in pages_list %}
            {% if written contains node.title %}
                {% continue %}
            {% endif %}
            {% if node.title != null %}
                {% if node.layout == "page" and node.footer == true %}
                    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a>
                {% endif %}
                {% assign written = written | push: node.title %}
            {% endif %}
        {% endfor %}
    </p>
      
    <div class="footer-icons">
        <ul>
            <!-- Social icons from Font Awesome, if enabled -->
            {% include social/icons.html %}
        </ul>
    </div>
</footer>
