<div class="posts">
    {% unless paginator.posts %}
    <article><section class="post-content"><p>There are no blog posts</p></section></article>
    {% endunless %}
    {% for post in paginator.posts %}
    <div class="post-teaser">
        {% if post.thumbnail %}
        <div class="post-img">
            <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
                <img alt="{{ post.title }}" src="{{ post.thumbnail | relative_url }}">
            </a>
        </div>
        {% endif %}
        <span>
          <header>
            <h2>
              <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url | relative_url }}">
                {% if post.gscltalk %}
                {{ post.speaker }} ({{ post.organization }}):
                {% endif %}
                {{ post.title }}
                {% if post.gscltalk %} [GSCL Talk] {% endif %}
              </a>
            </h2>
            {% include blog/post_info.html author=post.author date=post.date time=post.time %}
          </header>
          {% if site.excerpt or site.theme_settings.excerpt %}
              <div class="excerpt">
                  {% if site.excerpt == "truncate" %}
                     {{ post.content | strip_html | truncate: '250', '' | escape | append: site.data.language.str_truncation_continuation }}
                  {% else %}
                     {{ post.excerpt | strip_html | escape }}
                  {% endif %}
              </div>
          {% endif %}
      </span>
    </div>
    {% endfor %}
</div>

{% include blog/blog_nav.html %}
