<!DOCTYPE html>
<!--
    Type on Strap jekyll theme v2.3.8
    Theme free for personal and commercial use under the MIT license
    https://github.com/sylhare/Type-on-Strap/blob/master/LICENSE
-->
{% if site.multilingual %}
  {% assign lang = page.lang | default: site.active_lang | default: site.default_lang | default: "en" %}
{% else %}
  {% assign lang = page.lang | default: site.language | default: "en" %}
{% endif %}

  <html lang="{{ lang }}">
  {% include default/head.html %}
  <body>
    {% include default/navbar.html %}
    <div class="content">
      {{ content }}
    </div>
    {% include default/footer.html %}
  </body>
</html>
